body{
    
    font-family: "Nunito Sans", sans-serif;
    
}

.cyber {

    position: relative;
    width: 100%;
    background-size:cover;opacity:.80;z-index:-1;
}

.punk {

    position: absolute;
   margin-top: 300px;
   margin-left: 180px;
}

.row1 {

    background-color: black;
    width: 100%;
    margin-top: -50px;
}

.cate {

    position: absolute;
    right: 0px;
    width: 50vw;
   height: 130vh;
   top: -0px;
    background-size:cover;opacity:.80;z-index:-2;
}

.connect {

    position: absolute;
    width: 99vw;
    height: 99vh;
    background-size:cover;opacity:.80;z-index:-2;
}


h3 {

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    font-size: 50px;
    color: #cc1b1b;
    background-color: black;
    border: 1px solid #000000;
    
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width: 780px){

    h3 {
       
        width: 100%;
        height: auto;
      
    }
}



.control{
    display: flex;
    justify-content: center;
    
}

.btn {
    display: block;
    width: 15vw;
    text-align: center;
    color: #cc1b1b;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 780px){

     a {

       
       margin-left: auto;
       margin-right: auto;
    }
}

.button {
    color: #cc1b1b;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}


.table {

width: auto;
line-height: 30px;
border-collapse : separate;
 border-spacing : 20px;

}





h4 {

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    font-size: 30px;
    color: #cc1b1b;
    background-color: #000000;
    border: 1px solid #000000;
    
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 780px){
h4 {

    width: 100%;
    height: auto;
}

}


@media screen and (max-width: 780px){
th, td {
    border: 1px solid black;
    font-size: 8px;
    
  }
}
